body{background-image: url("https://image.freepik.com/free-vector/weather-seamless-pattern-background-vector-cute-doodle-illustration-kids_53876-105731.jpg");}
h1{color:rgb(42, 157, 143);}
b{color:rgb(233, 196, 106);}
b1{color:rgb(231, 111, 81)}
i{color:rgb(244, 162, 97)}
a{color:rgb(244, 162, 97)}
b{background-color: rgb(38, 70, 83);}
b1{background-color: rgb(38, 70, 83);}
i{background-color: rgb(38, 70, 83);}
a{background-color: rgb(38, 70, 83);}
b1{font-family:Georgia, 'Times New Roman', Times, serif;}
i{font-family: 'Courier New', Courier, monospace;}